@import './less/base/m-reset.less';
.am-tab-bar-bar {
  box-sizing: content-box !important;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
}
